<html>
    <head>
        <script src="../static/react.min.js"></script>
        <script src="../static/JSXTransformer.js"></script>
        <script src="../static/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="../static/style/lightbox.css">

        <title>Home</title>
        <div id="title"></div>
        <!-- can use raw html if necessary -->
        <script type="text/jsx" src="../static/scripts/title.js"></script>
    </head>
    <body>
        <div id="nickname"></div>
        <script type="text/jsx" src="../static/scripts/nickname.js"></script>
        <div id="posts"></div>
        <script type="text/jsx" src="../static/scripts/posts.js"></script>

        <script src="../static/lightbox.js"></script>
    </body>
</html>