<html>
    <head>
        <script src="../static/react.min.js"></script>
        <script src="../static/JSXTransformer.js"></script>
        <title>Home</title>
        <div id="title"></div>
        <script type="text/jsx" src="../static/scripts/title.js"></script>
    </head>
    <body>
        <div id="nickname"></div>
        <script type="text/jsx" src="../static/scripts/nickname.js"></script>
        <div id="posts"></div>
        <script type="text/jsx" src="../static/scripts/posts.js"></script>
    </body>
</html>